<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<title>Ahmed - TEXT Generator - P72</title>
	<link rel="stylesheet" type="text/css" href="http://localhost:8080/assets/css/style.css">
	<script src="http://localhost:8080/assets/js/script.js"></script>
	<style>
		.footer2 {
			text-align: center !important;
    margin-left: 72% !important;
    /*margin-top: 10%;*/
    width: 100%;
		}
		</style>
</head>

<body onload="generate()">
  {{#isLoggedIn}}
	<div id="templateDiv" class="textDiv">
		<p>Template</p>
		<div class="dropdown">
			<div class="dropBtn">Presets  ▾</div>
			<div class="dropdown-content">
				<div onclick="applyPreset(0)">C# Property</div>
				<div onclick="applyPreset(1)">SQL Insert</div>
				<div onclick="applyPreset(2)">Variable</div>
			</div>
		</div>
		<textarea id="template" oninput="generate()">
<Profile>
<ApplicationRef>
<Reference class="sailpoint.object.Application" id="^0^" name="^1^"/>
</ApplicationRef>
<Constraints>
<Filter operation="CONTAINS_ALL" property="^2^">
<Value>
<List>
<String>^3^</String>
</List>
</Value>
</Filter>
</Constraints>
</Profile>
</textarea>
	</div>
	<div id="dataDiv" class="textDiv">
		<p>Data with example</p>
		<label class="checkboxContainer">Trim
			<input type="checkbox" id="trimCheckbox" onclick="generate()" checked>
			<span class="checkmark"></span>
		</label>
		<textarea id="data" oninput="generate()">App ID, App Name, Property, Entitlement&#13;&#10;2c90be516f6fb1f7016f7e5041de1e99, FARM - Compliance Code of Ethics (COE), Entitlement, compliancePolandEmployee</textarea>
	</div>
	<div id="outputDiv" class="textDiv">
		<p>Output</p>
		<textarea id="output" onclick="this.select()" readonly>AA</textarea>

	</div>
	<div class="footer2">
		<button class="download" onclick=saveTextAsFile(output.value,'output-data.txt')>Download Output</button>
	  {{/isLoggedIn}}
	<footer>

		<p class="ahmed">Ahmed Hisham - P72</p>


		{{^isLoggedIn}}
		<p>Please Login in</p>

	  {{/isLoggedIn}}



	  {{^isLoggedIn}}
		<form method="get" action="/login">
		  <button id="login-button" class="ui primary button" type="submit">Log In</button>
		</form>
	  {{/isLoggedIn}}

	  
	  </footer>
	</div>
</body>

</html>